aclocal.m4
autom4te.cache
config.h
config.h.in
config.log
config.status
configure
libtool
debian/Makefile
debian/Makefile.in
.deps
gitrev.c
Makefile
Makefile.in
*.o
*.la
*.lo
s3backer
s3backer.spec
scripts
stamp-h1
tags
TAGS
tester
.libs/
s3backer.1
m4/libtool.m4
m4/lt~obsolete.m4
m4/ltoptions.m4
m4/ltsugar.m4
.gitignore
m4/ltversion.m4
